ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #413e3e;
    margin-top: -5px;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.copyright {
    color: white;
    float: bottom;
}