body{
    background-color: rgba(32,34,40,255);
    padding: 20px;

}
.path-finder{
    height: 90vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-color: 5px solid black;
    background: -o-linear-gradient(70deg, #06edfa  60%, rgba(0,0,0,0) 20%), -o-linear-gradient(60deg, #08eb6e 50%, #ef0707 50%);
    background: -moz-linear-gradient(70deg, #3c0ae3  60%, rgba(0,0,0,0) 50%), -moz-linear-gradient(40deg, #122eae 50%, #6ff403 50%);
    background: linear-gradient(70deg, #ff109f  70%, rgba(0,0,0,0) 10%), linear-gradient(20deg, #63c0e8 50%, #ff7ee3 50%);
}

.main-container, .destination-calculator{
    height: auto;
    border-radius: 20px;
}
.main-container{
    background-color: rgba(80, 145, 188, 0.924);
    border-color: 10px solid black;
}
.destination-calculator{
    border: 1px solid black;
    padding: 20px;
    box-sizing: content-box;
}
.destination-calculator-header-buttons{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}
.destination-calculator-header-buttons label, .customize-trip-button{
    padding: 15px 20px;
    background-color: grey;
    border-radius: 15px;
    font-size: 20px;
    user-select: none;

    /* margin-left: 10px; */
}
.destination-calculator-header-buttons label:hover{
    cursor: pointer;
}
.destination-picker{
    display: flex;
    flex-direction: column;
    margin-top:10px;
}
.destination-calculator input[type='text']{
    border-radius: 10px;
    border: 1px solid black;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
.destination-calculator input:focus{
    border-radius: 2px solid rgb(1, 1, 13);
}
.customize-trip{
    margin-top: 30px;
}
.getting-current-location{
    width: 100%;
}
label{
    color:whitesmoke;
}