:root{
    --error: #e7195a;
}
.user-signup-screen{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    text-align:left;

}
.user-signup-screen div.main-display img{
    width: 400px;
    margin-bottom: 30px;
    margin-left: -30px;
}
.user-signup-screen div.main-display , div.main-display{
    /* display: flex; */
    padding: 20px 0px 20px 20px;
    /* flex: 1; */
}
.user-signup-screen div.main-display{
    background-color: #f1f1f1;

}
.user-signup-screen div.main-display label{
    font-size: 33px;
    
}
.user-signup-screen div.main-display h3{
    margin: 10px 0px;
}

.user-signup-screen div.main-display form{
    /* padding: 20px; */
    margin-top: 20px;
}
.user-signup-screen div.main-display form input{
    margin-bottom: 15px;
    padding:5px;
}
.user-signup-screen div.main-display form input.error{
    border: 1px solid var(--error);
}
.user-signup-screen div.main-display form input[type='text'], .user-signup-screen div.main-display form input[type=password]{
    width: 400px;
    font-size: 20px;
    /* padding: 5px 0px; */
}
.user-signup-screen div.main-display form input[type="checkbox"]{
    /* display: flex; */
    margin-right: 10px;
}
.user-signup-screen div.main-display form button{
    margin-top: 20px;
    font-size: 20px;
}
.user-signup-screen div.main-display form label{
    font-size: 20px;
}
.user-signup-screen div.main-display form a{
    color:#0660ed;
}
/* .user-signup-screen div.main-display form a{
    color:aqua ;
} */
.user-signup-screen div.side-display{
    background-color: #0660ed;
}
.user-signup-screen div.error{
    color: red;
}
