:root{
    --error: #e7195a;
}
.user-signup-screen{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    text-align:left;
}
.user-signup-screen div.main-display img{
    width: 400px;
    margin-bottom: 30px;
    margin-left: -30px;

}
.user-signup-screen div.main-display , div.main-display{
    padding-left: 50vh;
    padding-top: 7vh;
    background-image: url(https://images.pexels.com/photos/2291428/pexels-photo-2291428.jpeg);
    background-position: 10% 35%;
    background-size: cover;
}
.user-signup-screen div.main-display{
    color: white;
}
.user-signup-screen div.main-display label{
    font-size: 50px;
}
.user-signup-screen div.main-display h3{
    margin: 10px 0px;
    font-size: 30px;
    font-weight: 500;
}

.user-signup-screen div.main-display form{
    /* padding: 20px; */
    margin-top: 20px;
}
.user-signup-screen div.main-display form input{
    margin-bottom: 15px;
    padding:5px;
}
.user-signup-screen div.main-display form input.error{
    border: 1px solid var(--error);
    font-size: 30px;
}
.user-signup-screen div.main-display form input[type='text'], .user-signup-screen div.main-display form input[type=password]{
    width: 400px;
    font-size: 20px;
    /* padding: 5px 0px; */
}
.user-signup-screen div.main-display form input[type="checkbox"]{
    /* display: flex; */
    margin-right: 10px;
}
.user-signup-screen div.main-display form button{
    margin-top: 20px;
    font-size: 20px;
}
.user-signup-screen div.main-display form label{
    font-size: 20px;
}
.user-signup-screen div.main-display form a{
    color:#0679ed;
}
/* .user-signup-screen div.main-display form a{
    color:aqua ;
} */
.user-signup-screen div.side-display{
    background-image: url("https://media.giphy.com/media/xUA7b6ss1J4EnvkLQY/giphy.gif");
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: 10% 25%;
}
.user-signup-screen div.error{
    color: red;
}
